docker-compose.yml

api/.cache
api/.yarn
api/node_modules
api/Dockerfile
api/dist
api/.ash_history
api/.npm
api/.yarnrc
api/config/*
api/coverage

web/.cache
web/.config
web/.next
web/.yarn
web/node_modules
web/Dockerfile
web/.ash_history
web/.npm
web/.yarnrc
